<footer class="footer">
  <p>
    &#169; 2022 | All Rights Reserved | Developed with<span
      class="footer__heart"
      >&#10084;</span
    >by <span class="footer__link">GoIT Students</span>
  </p>
</footer>
<div class="footer__backdrop is-hidden">
  <div class="footer__modal">
    <h2>Our Team</h2>
    <ul class="team">
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
      <li class="team__item">
        <img
          width="280px"
          src="https://louisville.edu/enrollmentmanagement/images/person-icon/image"
        /><a href="https://github.com/MarkoVoitovych" target="_blank"
          >Name Surname</a
        >
        <p>Developer</p>
      </li>
    </ul>
  </div>
</div>
