<footer class="footer">
  <p>
    &#169; 2022 | All Rights Reserved | Developed with<span
      class="footer__heart"
      ><svg class="footer__heart-goit" width="16" height="14">
        <use href="./images/icons.svg#icon-heart-goit"></use>
      </svg> </span
    >by <span class="footer__link">AZOV team</span>
  </p>
</footer>
<div class="footer__backdrop is-hidden">
  <div class="footer__modal">
    <button class="modal__button-close" data-modal-close>
      <svg class="modal__icon-close" width="20" height="20">
        <use
          class="modal__cross"
          href="./images/icons.svg#icon-cross"
          width="18"
          height="18"
        ></use>
      </svg>
    </button>
    <h2 class="team">AZOV team</h2>
    <ul class="team__list">
      <!-- 1st -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/MarkoVoitovych"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:Searchangeos@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/marko.png"
                    alt="Marko"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Marko Voitovych</h3>
          <p class="team__student-role">Team-lead</p>
          <p class="team__student-about">
            Hello, my friends. Our team gives me great pride to be the leader of
            this team. Your hard work continues to inspire me. I see and
            appreciate everything you do for the project.
          </p>
        </div>
      </li>
      <!-- 2nd -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/iuliia-sokol"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:avare779@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/iulia.png"
                    alt="Iuliia"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Iuliia Sokol</h3>
          <p class="team__student-role">Scrum-master</p>
          <p class="team__student-about">
            Thanks for being an exemplary team! Great teamwork. All the people
            in the team are friendly and open. Helped each other at all stages
            of work. The team you want to work with. I am very thankful to our
            friendly team for good and interesting cooperation!
          </p>
        </div>
      </li>
      <!-- 3rd -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Oleksii-Vaskevych"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:alexeyffi@ukr.net"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/alex-min.png"
                    alt="Oleksii"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Oleksii Vaskevych</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            A very good project for interesting people who want to see
            everything you want about the film quickly enough. I deeply
            appreciate every member of this team for showing relentless effort
            for this project.
          </p>
        </div>
      </li>
      <!-- 4th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/MarianaDobrivska"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:dobrivska.marry@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/mary-min.png"
                    alt="Mariana"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Mariana Dobrivska</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            I am very happy to be a part of this project and our team. Thank you
            for always being your best selves and contributing to the work! The
            way we pulled off this project makes me so happy! This team is
            capable of anything, mark my words.
          </p>
        </div>
      </li>
      <!-- 5th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Shpakk2"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:shpakk2@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/andrew-min.png"
                    alt="Andrii"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Andrii Shpak</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            I am a GoIT team-student who worked on the project in a super team.
            Well, we did another great project. Now we are much closer to our
            goal. Thank you for my team and GoIT for their knowledge and
            experience.
          </p>
        </div>
      </li>
      <!-- 6th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/SerhVo"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:svorotnoy@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/sergiy-min.png"
                    alt="Serhii"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Serhii Vorotnoi</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            I have run out of words to express my gratitude to my fantastic
            team! Your support, perseverance, and dedication have helped us
            succeed immensely! We hope for greater achievements in the upcoming
            projects. Congrats!
          </p>
        </div>
      </li>
      <!-- 7th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Jimjimka"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:mzhimolostnov@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/mike-min.png"
                    alt="Mykhailo"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Mykhailo Zhymolostnov</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            The drive and dedication with which we worked towards the goal were
            beyond my expectations. Our commitment to work brings the best
            result. It feels good to have you guys as my team! Thank you!
          </p>
        </div>
      </li>
      <!-- 8th -->
      <li class="team__item">
        <div class="team__wrapper">
          <ul class="sns-list">
            <li class="sns-list__item">
              <a
                href="https://github.com/Iryna-Vyshniak"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to Github"
              >
                <svg class="sns-list__icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sns-list__item">
              <a
                href="mailto:irinavn2011@gmail.com"
                lang="en"
                class="sns-list__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="link to email"
              >
                <svg class="sns-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="team__student-photo--wrap">
            <div class="team__border-outside">
              <div class="team__border-inside">
                <div class="team__foto-thumb">
                  <img
                    class="team__student-foto"
                    src="./images/ari-min.png"
                    alt="Iryna"
                    width="280px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Iryna Vyshniak</h3>
          <p class="team__student-role">Developer</p>
          <p class="team__student-about">
            I feel honored as I get to associate myself with you creative
            people. When a team becomes family and has sympathy and respect for
            each other with a fighting and passionate spirit towards the goal,
            anything can be achieved. Thank you for everything, dear team.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
