<header class="page-header">
    <div class="container">
        <a href="./index.html" class="logo">Filmoteka</a>
        <nav>
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a class="navigation__link " href="./index.html">Home</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link navigation__link--accent" href="./index.html">my library</a>
                </li>
            </ul>
        </nav>
        <ul class="btn-group_list">
            <li class="btn-group_item">
                <button class=" btn_library">Watched</buttonclass>
            </li>
            <li class="btn-group_item">
                <button class=" btn_library">queue</buttonclass>
            </li>
        </ul>
    </div>
</header>