<main id="main" class="main main-container main-container--gallery">
  <!-- коли стоїть "заглушка",на main додаємо клас perspective -->

  <section class="section gallery-section library js-gallery-section">
    <h2 class="visually-hidden">Gallery with movies</h2>
    <div class="container library-container js-container">
      <!-- заглушка - додаємо .visually-hidden на li (в стилях прописаний), коли рендерим розмітку карток -->
      <div class="empty-bg">
        <h2 class="js-title-queue preserve">Your list is empty...</h2>
        <img src="./images/movie.png" alt="cinema" />
        <div class="cloak__wrapper preserve">
          <div class="cloak__container preserve">
            <div class="cloak preserve"></div>
          </div>
        </div>
      </div>
      <ul class="gallery gallery--library"></ul>
    </div>
  </section>

  <!-- SMOOTH SCROLL -->
  <div class="btn-up">
    <p class="btn-up-text">UP</p>
    <button
      class="btn-up-wrapper__btn"
      id="to-top-btn"
      title="Go to top"
    ></button>
  </div>

  <!-- SPINNER -->
  <div class="preloader">
    <div class="loader"></div>
    <div class="loader-wave">Loading...</div>
  </div>
</main>
