<main id="main" class="main main-container">
  <!-- SECTION -->
  <section class="gallery-section">
    <h2 class="visually-hidden">Gallery with movies</h2>
    <div class="container result-container">
      <h2 class="no-result-title visually-hidden">Oops, no films found...</h2>
      <img
        src="./images/no-movies.png"
        alt="mo movies found"
        class="no-result-image visually-hidden"
      />
      <ul class="gallery"></ul>
    </div>
  </section>

  <!-- SMOOTH SCROLL -->
  <div class="btn-up">
    <p class="btn-up-text">UP</p>
    <button
      class="btn-up-wrapper__btn"
      id="to-top-btn"
      title="Go to top"
    ></button>
  </div>

  <!-- SPINNER -->
  <div class="preloader">
    <div class="loader"></div>
    <div class="loader-wave">Loading...</div>
  </div>
  <include src="./partials/pagination.html"></include>
</main>
